.user-group-item {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  border-bottom: 1px solid #d7d8de;
  padding: 8px 16px;

  &:last-child {
    border-bottom: none;
  }

  button {
    margin: 0;
  }

  &__login {
    margin: auto 0;
  }
}
