<form class="form create-chat-form">
  <h2 class="create-chat-form__header">Создать чат</h2>
  {{{ NameOfChatInput }}}
  <div class="create-chat-form__button-group">
    {{{ CancelButton }}}
    {{{ CreateChatButton }}}
  </div>
</form>
