.create-chat-form {
  &__header {
    margin-bottom: 16px;
  }
  &__button-group {
    display: flex;
  }
}

.button-create__chat {
  background-color: #3369F3;
  padding: 7px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
