<div class="profile-container">
  <div class="profile-back">
    {{{ Ref }}}
  </div>
  <div class="profile-section">
    <div class="profile-main">
      <div class="avatar-image">
        <img src="../avatar.png" alt="avatar">
        <h1 class="profile-name">Иван</h1>
      </div>
      <div class="profile-info">
        {{# each ProfileFields}}
          {{{this}}}
        {{/each}}
      </div>
    </div>

    <div class="profile-actions">
      {{# each SettingsRefs}}
        {{{this}}}
      {{/each}}
      {{{ ExitRef }}}
    </div>
  </div>
</div>