<div>
  <h2 class="chat-settings__header">Настройки чата</h2>
  <h3 class="chat-settings__header">Добавить пользователя</h3>
  {{{ AddUserForm }}}
  <h3 class="chat-settings__header">Пользователи чата</h3>
  {{{ UserGroup }}}
  <h3 class="chat-settings__header">Удалить чат</h3>
  {{{ DeleteChatButton }}}
  <div class="chat-settings__button-container">
    {{{ CloseButton }}}
  </div>
</div>
