<div class="profile-container">
  <div class="profile-back">
    {{{ Ref }}}
  </div>
  <div class="profile-section">
    <div class="profile-main">
      <div class="profile-avatar">
        <div class="profile-settings-avatar">
          <img src="../avatar.png" alt="avatar">
          <span class="profile-settings-avatar-text">Поменять<br>аватар</span>
        </div>
        <input name="avatar" type="file" id="avatar-upload" style="display: none;" />
      </div>
      <form method="POST" class="settings__form">
          {{# each ProfileFieldsSettings }}
            {{{this}}}
          {{/each}}
          <div class="padding-settings"></div>
          {{# each PasswordInputs}}
            {{{this}}}
          {{/each}}
          {{{ Button }}}
      </form>
    </div>
  </div>
</div>