.modal-window {
  &__background {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__card {
    width: 350px;
    position: relative;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  }
}

.hidden {
  display: none;
}
