<form class="chat-controls">
  <button class="chat-controls__attach" type="button">
    <img src="/attach.svg" alt="Добавить вложение"/>
  </button>
  <label for="message" class="chat-controls__input-label">Сообщение</label>
  {{{Input}}}
  <button class="chat-controls__send" type="submit">
    <img src="/send.svg" alt="Отправить"/>
  </button>
</form>

