<form class="chat-message">
  <button class="chat-message__attach" type="button"><img src="/attach.svg" alt="Добавить файлы"/></button>
  <label for="message" class="chat-message__input-label">Сообщение</label>
  {{{Input}}}
  <button class="chat-message__send-button" type="submit"><img src="/send.svg" alt="Отправить"/></button>
</form>
